@import "src/styles/vars.styles";

.books_user_wrap{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 50px;
}

.book_give{
  display: flex;

  &__points{
    max-width: 20px;
  }

}