@import './vars.styles.scss';

.container {
  width: 100vw;
  max-width: 2400px;
  padding: 0 15px;
  margin: 0 auto;
}

.form-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-gap: 15px;
  padding-top: 10px;
}

.navigate-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  font-size: 0.95rem;
}