.header_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px 10px 80px;

  button{
    height: fit-content;
  }
}

.input_container{
  position: relative;

  &__search_input {
    border: none;
    padding: 20px;
    border-radius: 45px;
  }

  img{
    position: absolute;
    left: 15px;
    top: 15px;
    max-width: 30px;
  }
}

.input_container input[type="text"] {
  padding-left: 60px;
}

.user_header{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 90px;
  padding-right: 80px;

  &__books{
    max-height: 30px;
    max-width: 30px;
    cursor: pointer;
  }

  &__photo{
    margin: 0 auto;
    width: 9%;
    border-radius: 33%;
  }

  &__info_name{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    margin: 15px;
    text-align: center;

    width: max-content;
  }
  &__info{
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    cursor: pointer;
  }
}

