@import "src/styles/vars.styles";

.book_wrap{
display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  max-width: 300px;

  &__photo{
    max-width: 300px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 19px 18px 17px #c4c2c2, 2px 3px 6px #ffffff;
    //box-shadow: inset 3px 3px 7px var(--gray),
    //inset -3px -3px 7px var(--white);;
  }

  &__info{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__name{
@extend %cormorant-garamond-400;
    font-weight: bold;
    padding-bottom: 10px;
  }

  &__author{


  }
}